<div class="terms" >

  <h3>Terms and Conditions</h3>
  <h4>Target Audience</h4> This competition is open to all final year students enrolled in an IT-related programme at one of the following high schools and universities, where i8c will be/was present at the job fair or has advertised the competition:
  <ul>
    <li>Artesis Plantijn</li>
    <li>Karel De Grote Hogeschool</li>
    <li>Katholieke Hogeschool Leuven</li>
    <li>Katholieke Universiteit Leuven</li>
    <li>Thomas More</li>
    <li>Universiteit Antwerpen</li>
  </ul>
  The school email address you enter when you submit your contact details to participate, is checked to verify that the domain part (the part after the @ character) matches with one of the domains of the participating schools. If your school email address
  doesn't match with one of the allowed domains, your participation will be rejected and you will receive an error upon submitting your contact details.<br/>
  <br/>Upon first submission of your details, a verification email will be sent to your school email address with a link to validate that your address is genuine. If you don't confirm this email within 5 days, all your submissions until that date will
  be removed. People who never confirm their school email address, will not be entitled to win one of the prizes.<br/>
  <br/>Only final year students are admitted.<br/>
  <br/>When the winner of the competition did not fully comply with all conditions of participation, he/she will automatically lose the right on the prize, without compensation and without any recourse.

  <h4>Prize</h4> One (1) iPhone 7 will be raffled among the students who correctly answered the question about Apple's Operating System for the iPhone. The student whose answer to the question about the total number of registered students is closest to the total number
  of submitted chances will win. In case of a tie, we will contact the concerned students with an additional tie breaker question.

  <h4>Privacy</h4> Your privacy is important to us. The contact details are covered by the Law of 8 December 1992 on the protection of privacy in relation to the processing of personal data (B.S. 18/03/1993).<br/>
  <br/> By submitting your contact details, you accept the terms and conditions of this competition. By submitting your contact details you give your consent for the processing of your personal data in accordance with the aforementioned law.<br/>
  <br/> We will not share or distribute your personal information outside the Cronos Group (to which i8c belongs) and/or its affiliates and/or subsidiaries. The Cronos group and/or its affiliates and/or subsidiaries will only use your contact details
  to:
  <ul>
    <li>identify you during the competition</li>
    <li>keep you up to date about the competition</li>
    <li>keep you up to date about our job offers</li>
  </ul>
  If you want your personal information to be removed, please send an email to studentcontest@i8c.be.<br/>
  <br/> Please note that i8c may communicate your personal information to its employees to the extent that this is necessary to fulfil its obligations set out in these terms and conditions.

  <h4>Disclaimer</h4> THE SITE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS, AND WITHOUT WARRANTIES OF ANY KIND EITHER EXPRESS OR IMPLIED.<br/>
  <br/>I8C DOES NOT GUARANTEE THAT THE SITE WILL BE FREE OF BUGS, SECURITY BREACHES, OR VIRUS ATTACKS. THE SITE MAY OCCASIONALLY BE UNAVAILABLE FOR ROUTINE MAINTENANCE, UPGRADING, OR OTHER REASONS. YOU AGREE THAT I8C WILL NOT BE HELD RESPONSIBLE FOR ANY
  CONSEQUENCES TO YOU OR ANY THIRD PARTY THAT MAY RESULT FROM TECHNICAL PROBLEMS OF THE INTERNET, SLOW CONNECTIONS, TRAFFIC CONGESTION, OVERLOAD OF OUR OR OTHER SERVERS, DELAY OR FAILURE IN TRANSMISSION, OR ANY ALTERATION OR DISTORTION OF DATA.

  <p>In case the application would not be working correctly, send an email to <a href="mailto:studentcontest@i8c.be">studentcontest@i8c.be</a></p>
  <h4>Liability of i8c</h4> i8c is not responsible for any damages, injuries or accidents that may occur as a result of winning or using the prize and / or participation in the competition.<br/>
  <br/> i8c may replace the prize by a product with the same or equivalent conditions, without being held liable.<br/>
  <br/> i8c is not responsible for the failure to provide the prize when the participant inadequate, incomplete or incorrect submitted his contact details.<br/>
  <br/> i8c is not responsible for any defects of the post office and / or courier companies in the delivery of the prize (such as delay, damage, strike or loss). For example, if the prize is sent by registered mail or by courier and it cannot be handed
  over to the winner, then i8c is not responsible if the winner does not collect his prize at a later date. In addition, if the prize is lost, or damaged in an unacceptable manner, i8c cannot be held liable.<br/>
  <br/> i8c can award the prize to another participant, without any recourse, if the winner does not collect the prize within a given period of 1 month, the participant loses his right to collect the prize and i8c can award the prize to another participant,
  without any story.<br/>
  <br/> Printing, spelling, typographical or other errors as well as technical problems (including technical malfunction, busy lines, inadvertent disconnection) cannot be invoked as grounds for any obligation or liability.<br/>
  <br/> If i8c is forced to postpone, shorten or cancel, modify the competition rules or modify the contest formula, i8c cannot in any way be held liable.<br/>
  <br/> If the course of this competition would be disturbed by a technical incident, i8c will make every effort to neutralize these interferences. i8c cannot be held liable for any loss that may arise from these technical incidents. The decision of i8c
  and the results are final and binding.<br/>
  <br/> i8c is not liable for incidents, claims or damages which may arise of or derive from the acceptance and/or use of the prize by the winner. i8c cannot be held responsible or liable for any defects of the prize or if the prize does not meet the
  expectations created.<br/>
  <br/> The exclusion or limitation of liability of i8c shall not prejudice the fact that the i8c in all cases shall be liable for its wilful misconduct or gross negligence.

  <button type="button" className="btn btn-success">Back</button>
</div>
