
      <h4 style="text-align:center; padding-bottom:15px;">This app has been built according to
        the principles of the API economy, using the open source solutions depicted below.
        Would you like to build solutions similar to this one?<br/>Send your CV
        to <a href="mailto:jobs@i8c.be" class="blackline">jobs@i8c.be</a> or visit
        the job page on our website <a href="http://www.i8c.be/jobs" target="_blank" class="blackline">
          www.i8c.be/jobs</a></h4>
      <div class="container">
        <div class="row">
          <div class="col-4">
            <img src="/assets/images/html5Logo.svg" class="img-fluid" alt="HTML 5 Logo" />
          </div>
          <div class="col-4">
            <img src="/assets/images/angularLogo.png" class="img-fluid" alt="Angular Logo" />
          </div>
          <div class="col-4">
            <img src="/assets/images/wso2Logo.svg" class="img-fluid" alt="WSO2 Logo" />
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <img src="/assets/images/awsLogo.png" class="img-fluid" alt="Amazon Web Service Logo" />
          </div>
          <div class="col-4">
            <img src="/assets/images/javaLogo.png" class="img-fluid" alt="Java Logo" />
          </div>
          <div class="col-4">
            <img src="/assets/images/centos.svg" class="img-fluid   " alt="cent os Logo" />
          </div>

        </div>
        <div class="row">
          <div class="col-4">
            <img src="/assets/images/androidLogo.png" class="img-fluid" alt="Android Logo" />
          </div>
          <div class="col-4">
             <img src="/assets/images/postgresqlLogo.png" class="img-fluid  " alt="Postgresql Logo" />
          </div>
          <div class="col-4">
            <img src="/assets/images/iosLogo.png" class="img-fluid" alt="iOS Logo" />
          </div>
        </div>

      </div>
