<div class="h-100 displayFlex">
  <nav class="navbar flex00a">
    <ul>
      <li class="nav-item">
        <a class="navlink float-left" routerLink=" " routerLinkActive="active">i8c StudentContest</a>
      </li>

      <li class="nav-item">
        <a class="navlink2 float-right" routerLink="/terms">T&C</a>
      </li>

      <li class="nav-item">
        <a class="navlink2 float-right" routerLink="/about">About</a>
      </li>
    </ul>
  </nav>

  <div class="flexCenter flex11a">
    <div class="width83">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
